*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #000;
  color: #ffffff;
}

.card{
  width: 20vw;
  margin: 20px;
  padding: 20px;
  color: pink;
  background: rgb(188, 17, 51);
  p{
    font-size: large;

  }
}