@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@theme {
  --font-jersey: "Jersey 10", sans-serif; 
  --font-little: "Lilita One", sans-serif;
}
#right::-webkit-scrollbar{
  display: none;
}